<a href="https://colab.research.google.com/github/Rishiddh/datasciencecoursera/blob/master/classbook_bioinfo_tej.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello World")

Hello World

In [10]:
2+10 # this will not be shown in the output since print is not there
print(2*4) # in case you do not have print, only the last executuon will be displayed
print(2/4)
print(22/5)
print(22//5) # floor division # gives only the ___ ignores the remainder
""" multiline comments
needs 3 quotation marks """
print(22%5) # this only gives the remainder
print(2**4)

8
0.5
4.4
4
2
16

In [11]:
5 # integer
"5" #strings
5.0 #float #in python by default everything is double precision floats, 2 values after decimal

5.0

In [24]:
"5"+"5"
"5"*4
"hello"*4
int("5")*4
#int("hel")*4
str(5)*4
float(5)
int(.4)

0